<!-- bottom_nav.ejs/Juan Arevalo/301323792/02-23-2023 -->
<footer class="foot">
    <nav class="navbar fixed-bottom navbar-light bg-light" style="height: 40px;">
        <h1 class="display-3 navbar-text fs-6 fst-italic mb-5 max-height">&copy; 2023 All rights reserved</h1>
        </div>
    </nav>
</footer>