<footer class="foot">
    <nav class="navbar fixed-bottom navbar-light bg-light" style="height: 35px;">
        <!-- <div class="container-fluid"> -->
        <h1 class="display-6 navbar-text fs-6 fst-italic">&copy; 2023 All rights reserved</h1>
        <!-- <a class="navbar-brand" href="#">Fixed bottom</a> -->
        </div>
    </nav>
</footer>